.pagination {

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	@include _768 {
		justify-content: stretch;
	}

	// .pagination__arrow

	&__arrow {
		flex: 0 0 44px;
		margin: 0 10px;
		@include _768 {
			flex: 0 0 70px;
			margin: 0;
		}

		&:first-child {
			order: 2;
			@include _768 {
				order: 1;
			}
		}

		&:last-child {
			order: 3;
			@include _768 {
				order: 3;
			}
		}
	}

	// .pagination__list

	&__list {

		
		order: 1;
		width: 100%;

		@include _768 {
			order: 2;
			width: auto;
			padding: 0 10px;
			justify-content: stretch;
		}

		padding: 0 0 15px 0;
		
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		a {
			@media (any-hover: hover) {
				&:hover {
					border-color: var(--primary);
				}
			}
		}

		a, span {

			width: 44px; height: 44px;

			@include _768 {
				width: 70px; height: 70px;
				font-size: 1.25rem;

				&:not(:last-child) {
					margin-right: 10px;
				}
			}
			
			&:not(:last-child) {
				margin-right: 1px;
			}

			display: flex;
			align-items: center;
			justify-content: center;

			font-size: 0.9375rem;
			line-height: 140%;
			font-weight: 600;
			color: var(--black);

			&.is-current {
				border: 1px solid var(--primary);
			}
			border: 1px solid transparent;
			border-radius: 50%;

			transition: border-color .3s ease;

			
		}
	}
}
