.student-lesson {

	margin-top: 30px;

	// .student-lesson__title

	&__title {
		text-align: center;
		font-weight: 700;
		@include _992 {
			position: absolute;
			width: 1px; height: 1px;
			margin: -1px; padding: 0;
			border: 0;
			
			white-space: nowrap;
			clip-path: inset(100%);
			clip: rect(0 0 0 0);
			overflow: hidden;
		}
	}

	// .student-lesson__header

	&__header {
		margin-top: 20px;
		@include _992 {
			margin-top: 0;
		}
	}

	// .student-lesson__name

	&__name {
		

		border-radius: 20px;
		padding: 18px 20px;
		@include _992 {
			max-width: 327px;
			padding: 24px 24px 16px;
		}
		background: var(--light);

		h2 {
			color: var(--black);
			font-size: 1.125rem;
			line-height: 111%;
			
			@include _992 {
				font-size: 1.25rem;
			}

			font-weight: 600;
		}

		p {
			margin-top: 10px;

			display: block;
			color: #534D4D;
		}
	}

	// .student-lesson__main

	&__main {

		margin-top: 30px;

		border-radius: 20px;
		border: 1px solid #EBEBEB;

		padding: 15px;
		@include _992 {
			padding: 20px;
			margin-top: 39px;
		}

		position: relative;

		// .student-lesson__main--body

		&--body {
			background: #F6F6F6;
			border-radius: 20px;

			aspect-ratio: var(--mob-aspect-ratio);

			@include _992 {
				aspect-ratio: var(--aspect-ratio);
			}
		}
	}

	// .student-lesson__join

	&__join {
		position: absolute;
		left: 50%; top: 50%;
		transform: translate(-50%,-50%);

		text-align: center;

		.btn {
			display: inline-flex;
			align-items: center;
			justify-content: center;
		}

		h2 {
			font-size: 1rem;
			margin-bottom: 12px;
			
			@include _992 {
				font-size: 1.375rem;
				margin-bottom: 18px;
			}
			font-weight: 600;
			line-height: 139.090909%;
		}
	}
}
