.teacher-students-group {

	margin-top: 30px;
	@include _992 {
		margin-top: 10px;
	}
	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	.account-block__accordion-wrapper {
		width: 100%;
		@include _992 {
			width: auto;
			order: 3;
		}
	}

	// .teacher-students-group__header

	&__header {
		@include _992 {
			width: auto;
			order: 1;
		}
	}

	&__arrow {
		@include _992 {
			display: none;
		}
	}

	// .teacher-students-group__title

	&__title {
	}

	// .teacher-students-group__sort

	&__sort {

		@include _992 {
			order: 2;
		}

		// .teacher-students-group__sort--select

		&--select {
		}
	}

	// .teacher-students-group__table

	&__table {

		width: 100%;

		background: var(--white);
		border: 1px solid #EBEBEB;
		border-radius: 10px;

		display: grid;

		margin-top: 16px;
		@include _992 {
			margin-top: 20px;
		}

		// .teacher-students-group__table--head

		&--head {
			padding: 12px 39px 12px 19px;
			border-bottom: 1px solid #EBEBEB;

			color: #534D4D;
			font-size: 0.9375rem;
			line-height: 160%;

			display: none;
			grid-template-columns: 1.5fr 1fr 1fr;
			align-items: flex-end;
			gap: 0 10px;

			@include _992 {
				display: grid;
			}
		}

		// .teacher-students-group__table--wrapper

		&--wrapper {
			
			max-height: 450px; overflow-y: auto;
			//margin: 20px 5px 20px 0;
			@include _992 {
				max-width: 100%;
				margin: 0 20px 0 0;
			}
		}

		// .teacher-students-group__table--list

		&--list {
			padding: 0 19px;
		}

		// .teacher-students-group__table--item

		&--item {
			display: grid;
			grid-template-columns: 1fr 1fr;

			@include _992 {
				grid-template-columns: 1.5fr 1fr 1fr;
				align-items: center;

				gap: 0 10px;
			}
			
			gap: 10px 0;

			padding: 21px 0;

			&:not(:last-child) {
				border-bottom: 1px solid #EBEBEB;
			}
		}
	}

	// .teacher-students-group__item

	&__item {

		color: #262626;
		font-size: 0.8125rem;
		line-height: 153.846%;

		// .teacher-students-group__item--student

		&--student {
			> span {
				font-size: 0.75rem;
				line-height: 130%;
				color: #534D4D;
			}
			> div {
				display: flex;
				align-items: center;

				margin-top: 8px;

				@include _992 {
					margin-top: 0;
				}
			}
		}

		// .teacher-students-group__item--avatar

		&--avatar {
			flex: 0 0 35px; margin-right: 10px;

			border-radius: 10px;
			border: 1px solid #D9D9D9;
			background: #FFF;

			img {
				border-radius: 10px;
				object-fit: cover;
			}
		}

		// .teacher-students-group__item--name

		&--name {
		}

		// .teacher-students-group__item--param

		&--param {
			span:first-child {
				display: block;
				margin-bottom: 8px;

				font-size: 0.75rem;
				line-height: 130%;
				color: #534D4D;

				@include _992 {
					display: none;
					margin-bottom: 0;
				}
			}

			justify-self: end;
			text-align: end;
			@include _992 {
				text-align: start;
				justify-self: start;
			}
		}

		// .teacher-students-group__item--last-visit

		&--last-visit {
			grid-column: 2 span;
			@include _992 {
				grid-column: auto;
			}
			span:nth-child(1) {
				display: block;
				margin-bottom: 8px;

				font-size: 0.75rem;
				line-height: 130%;
				color: #534D4D;

				@include _992 {
					display: none;
					margin-bottom: 0;
				}
			}

			span:nth-child(2) {
				display: inline-block;
				padding: 8px 5px 8px 12px;
				border: 1px solid #D9D9D9;
				border-radius: 10px;
			}
		}
	}
}
